<h1>ユーザーリスト</h1>

<%= button_to "ユーザー登録", new_user_path, method: :get %>

<% @users.each do |user| %>
  <h3>ユーザー名</h3>
  <span><%= user.email %></span>
  <%= button_to "ユーザー削除", user_path(user.id), method: :delete %>
<% end %>

<div class="text-notice">
  <%= flash[:notice] %>
</div>
