<h1>マイページ</h1>

<h3>ユーザー名</h3>
<p><%= @user.email %></p>
<h3>パスワード</h3>
<p><%= @user.password %></p>
<h3>アカウント作成日</h3>
<p><%= @user.created_at %></p>
<h3>アカウント更新日</h3>
<p><%= @user.updated_at %></p>

