<!DOCTYPE html>
<html>
  <head>
    <title>Tubuyaki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar has-background-primary">
      <div class="navbar-brand">
        <span class="navbar-item has-text-dark">
          Hitorigoto
        </span>
      </div>
    </header>

    <div class="tabs is-small has-background-info">
      <ul>
        <li class="is-active"><a>マイページ</a></li>
        <li><a>ひとりごと投稿</a></li>
        <li><a>ひとりごと一覧</a></li>
        <li><a>ユーザーリスト</a></li>
        <li><a>プロフィール編集</a></li>
        <li><a>ログアウト</a></li>
      </ul>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
